<html lang="es">
<head>
    <%- include('./partials/head');%> 
</head>
<body class="container">
  <form action="http://localhost:8080/login" method="post">
        <div class="form-group mx-sm-3 mb-2">
          <label for="name-form">Nombre:</label>
        </div>
        <div class="form-group mx-sm-3 mb-2">
          <input type="text" class="form-control" name="name-form" id="name-form" placeholder="Ingrese su nombre">
        </div>
        <button type="submit" class="btn btn-primary mx-sm-3 mb-2">Ingresar</button>
    </form>
</body>
</html>